*.zip
./UVS_Dataset-main/yyhdt/Images.zip
./UVS_Dataset-main/yyhdt/Images_small.zip
./UVS_Dataset-main/2013Champions/Images.zip
./UVS_Dataset-main/2013Champions/Images_small.zip
./UVS_Dataset-main/dlc2020/Images.zip
./UVS_Dataset-main/dlc2020/Images_small.zip
./UVS_Dataset-main/realmofmidnight/Images.zip
./UVS_Dataset-main/realmofmidnight/Images_small.zip
./UVS_Dataset-main/battleforpower/Images.zip
./UVS_Dataset-main/battleforpower/Images_small.zip
./UVS_Dataset-main/kofxiii/Images.zip
./UVS_Dataset-main/kofxiii/Images_small.zip
./UVS_Dataset-main/ts01/Images.zip
./UVS_Dataset-main/ts01/Images_small.zip
./UVS_Dataset-main/tmnt01/Images.zip
./UVS_Dataset-main/tmnt01/Images_small.zip
./UVS_Dataset-main/crmn/Images.zip
./UVS_Dataset-main/crmn/Images_small.zip
./UVS_Dataset-main/tov/Images.zip
./UVS_Dataset-main/tov/Images_small.zip
./UVS_Dataset-main/warriorsdream/Images.zip
./UVS_Dataset-main/warriorsdream/Images_small.zip
./UVS_Dataset-main/ptcpromos/Images.zip
./UVS_Dataset-main/ptcpromos/Images_small.zip
./UVS_Dataset-main/rot/Images.zip
./UVS_Dataset-main/rot/Images_small.zip
./UVS_Dataset-main/stk0x/Images.zip
./UVS_Dataset-main/stk0x/Images_small.zip
./UVS_Dataset-main/scqos/Images.zip
./UVS_Dataset-main/scqos/Images_small.zip
./UVS_Dataset-main/soulcalibur3/Images.zip
./UVS_Dataset-main/soulcalibur3/Images_small.zip
./UVS_Dataset-main/tekken6/Images.zip
./UVS_Dataset-main/tekken6/Images_small.zip
./UVS_Dataset-main/bloodomen/Images.zip
./UVS_Dataset-main/bloodomen/Images_small.zip
./UVS_Dataset-main/aot01/Images.zip
./UVS_Dataset-main/aot01/Images_small.zip
./UVS_Dataset-main/rhid01/Images.zip
./UVS_Dataset-main/rhid01/Images_small.zip
./UVS_Dataset-main/tk801/Images.zip
./UVS_Dataset-main/tk801/Images_small.zip
./UVS_Dataset-main/highercalibur/Images.zip
./UVS_Dataset-main/highercalibur/Images_small.zip
./UVS_Dataset-main/championpromos3/Images.zip
./UVS_Dataset-main/championpromos3/Images_small.zip
./UVS_Dataset-main/championpromos4/Images.zip
./UVS_Dataset-main/championpromos4/Images_small.zip
./UVS_Dataset-main/shadowar/Images.zip
./UVS_Dataset-main/shadowar/Images_small.zip
./UVS_Dataset-main/darkpath/Images.zip
./UVS_Dataset-main/darkpath/Images_small.zip
./UVS_Dataset-main/flamesoffame/Images.zip
./UVS_Dataset-main/flamesoffame/Images_small.zip
./UVS_Dataset-main/cr02/Images.zip
./UVS_Dataset-main/cr02/Images_small.zip
./UVS_Dataset-main/sf60x/Images.zip
./UVS_Dataset-main/sf60x/Images_small.zip
./UVS_Dataset-main/taleofswords/Images.zip
./UVS_Dataset-main/taleofswords/Images_small.zip
./UVS_Dataset-main/championpromos5/Images.zip
./UVS_Dataset-main/championpromos5/Images_small.zip
./UVS_Dataset-main/championpromos2/Images.zip
./UVS_Dataset-main/championpromos2/Images_small.zip
./UVS_Dataset-main/darkstalkerstin/Images.zip
./UVS_Dataset-main/darkstalkerstin/Images_small.zip
./UVS_Dataset-main/riseofmasters/Images.zip
./UVS_Dataset-main/riseofmasters/Images_small.zip
./UVS_Dataset-main/sleb/Images.zip
./UVS_Dataset-main/sleb/Images_small.zip
./UVS_Dataset-main/worldwarriors/Images.zip
./UVS_Dataset-main/worldwarriors/Images_small.zip
./UVS_Dataset-main/fng/Images.zip
./UVS_Dataset-main/fng/Images_small.zip
./UVS_Dataset-main/mha07/Images.zip
./UVS_Dataset-main/mha07/Images_small.zip
./UVS_Dataset-main/rh4p/Images.zip
./UVS_Dataset-main/rh4p/Images_small.zip
./UVS_Dataset-main/flashofblades/Images.zip
./UVS_Dataset-main/flashofblades/Images_small.zip
./UVS_Dataset-main/sf5/Images.zip
./UVS_Dataset-main/sf5/Images_small.zip
./UVS_Dataset-main/indines/Images.zip
./UVS_Dataset-main/indines/Images_small.zip
./UVS_Dataset-main/redhorizon/Images.zip
./UVS_Dataset-main/redhorizon/Images_small.zip
./UVS_Dataset-main/cha03krm/Images.zip
./UVS_Dataset-main/cha03krm/Images_small.zip
./UVS_Dataset-main/bladesoffury/Images.zip
./UVS_Dataset-main/bladesoffury/Images_small.zip
./UVS_Dataset-main/capcomleaguekit/Images.zip
./UVS_Dataset-main/capcomleaguekit/Images_small.zip
./UVS_Dataset-main/mha08/Images.zip
./UVS_Dataset-main/mha08/Images_small.zip
./UVS_Dataset-main/grimmpromo/Images.zip
./UVS_Dataset-main/grimmpromo/Images_small.zip
./UVS_Dataset-main/mha06/Images.zip
./UVS_Dataset-main/mha06/Images_small.zip
./UVS_Dataset-main/mha01/Images.zip
./UVS_Dataset-main/mha01/Images_small.zip
./UVS_Dataset-main/neomax/Images.zip
./UVS_Dataset-main/neomax/Images_small.zip
./UVS_Dataset-main/nextlevel/Images.zip
./UVS_Dataset-main/nextlevel/Images_small.zip
./UVS_Dataset-main/promo2020/Images.zip
./UVS_Dataset-main/promo2020/Images_small.zip
./UVS_Dataset-main/deadlyground/Images.zip
./UVS_Dataset-main/deadlyground/Images_small.zip
./UVS_Dataset-main/unmarkedpromo/Images.zip
./UVS_Dataset-main/unmarkedpromo/Images_small.zip
./UVS_Dataset-main/SiegfriedvsSophitia/Images.zip
./UVS_Dataset-main/SiegfriedvsSophitia/Images_small.zip
./UVS_Dataset-main/6pointpromo/Images.zip
./UVS_Dataset-main/6pointpromo/Images_small.zip
./UVS_Dataset-main/soulcalibur6/Images.zip
./UVS_Dataset-main/soulcalibur6/Images_small.zip
./UVS_Dataset-main/mhademo/Images.zip
./UVS_Dataset-main/mhademo/Images_small.zip
./UVS_Dataset-main/streetfighter/Images.zip
./UVS_Dataset-main/streetfighter/Images_small.zip
./UVS_Dataset-main/platinum/Images.zip
./UVS_Dataset-main/platinum/Images_small.zip
./UVS_Dataset-main/cb02/Images.zip
./UVS_Dataset-main/cb02/Images_small.zip
./UVS_Dataset-main/cha03gmm/Images.zip
./UVS_Dataset-main/cha03gmm/Images_small.zip
./UVS_Dataset-main/sl01/Images.zip
./UVS_Dataset-main/sl01/Images_small.zip
./UVS_Dataset-main/bebop/Images.zip
./UVS_Dataset-main/bebop/Images_small.zip
./UVS_Dataset-main/soularena/Images.zip
./UVS_Dataset-main/soularena/Images_small.zip
./UVS_Dataset-main/yyh/Images.zip
./UVS_Dataset-main/yyh/Images_small.zip
./UVS_Dataset-main/aot02/Images.zip
./UVS_Dataset-main/aot02/Images_small.zip
./UVS_Dataset-main/megaman/Images.zip
./UVS_Dataset-main/megaman/Images_small.zip
./UVS_Dataset-main/snk/Images.zip
./UVS_Dataset-main/snk/Images_small.zip
./UVS_Dataset-main/ryuvsakuma/Images.zip
./UVS_Dataset-main/ryuvsakuma/Images_small.zip
./UVS_Dataset-main/5pointpromo/Images.zip
./UVS_Dataset-main/5pointpromo/Images_small.zip
./UVS_Dataset-main/sfvdarkstarlkers2018/Images.zip
./UVS_Dataset-main/sfvdarkstarlkers2018/Images_small.zip
./UVS_Dataset-main/darkstalkers/Images.zip
./UVS_Dataset-main/darkstalkers/Images_small.zip
./UVS_Dataset-main/crvm/Images.zip
./UVS_Dataset-main/crvm/Images_small.zip
./UVS_Dataset-main/mortalkombat/Images.zip
./UVS_Dataset-main/mortalkombat/Images_small.zip
./UVS_Dataset-main/fightfor/Images.zip
./UVS_Dataset-main/fightfor/Images_small.zip
./UVS_Dataset-main/aot03/Images.zip
./UVS_Dataset-main/aot03/Images_small.zip
./UVS_Dataset-main/legacypromo/Images.zip
./UVS_Dataset-main/legacypromo/Images_small.zip
./UVS_Dataset-main/mha04/Images.zip
./UVS_Dataset-main/mha04/Images_small.zip
./UVS_Dataset-main/sctos/Images.zip
./UVS_Dataset-main/sctos/Images_small.zip
./UVS_Dataset-main/ggs01/Images.zip
./UVS_Dataset-main/ggs01/Images_small.zip
./UVS_Dataset-main/libra/Images.zip
./UVS_Dataset-main/libra/Images_small.zip
./UVS_Dataset-main/mha03/Images.zip
./UVS_Dataset-main/mha03/Images_small.zip
./UVS_Dataset-main/warriorsofthenight/Images.zip
./UVS_Dataset-main/warriorsofthenight/Images_small.zip
./UVS_Dataset-main/7thcross/Images.zip
./UVS_Dataset-main/7thcross/Images_small.zip
./UVS_Dataset-main/penny/Images.zip
./UVS_Dataset-main/penny/Images_small.zip
./UVS_Dataset-main/extremerivals/Images.zip
./UVS_Dataset-main/extremerivals/Images_small.zip
./UVS_Dataset-main/cuttingedge/Images.zip
./UVS_Dataset-main/cuttingedge/Images_small.zip
./UVS_Dataset-main/mha02/Images.zip
./UVS_Dataset-main/mha02/Images_small.zip
./UVS_Dataset-main/mha05/Images.zip
./UVS_Dataset-main/mha05/Images_small.zip
./UVS_Dataset-main/promo2024/Images.zip
./UVS_Dataset-main/promo2024/Images_small.zip
./UVS_Dataset-main/promo2023/Images.zip
./UVS_Dataset-main/promo2023/Images_small.zip
./UVS_Dataset-main/kingoffighters/Images.zip
./UVS_Dataset-main/kingoffighters/Images_small.zip
./UVS_Dataset-main/domination/Images.zip
./UVS_Dataset-main/domination/Images_small.zip
./UVS_Dataset-main/sfvdarkstalkers/Images.zip
./UVS_Dataset-main/sfvdarkstalkers/Images_small.zip
./UVS_Dataset-main/promo2022/Images.zip
./UVS_Dataset-main/promo2022/Images_small.zip
./UVS_Dataset-main/4pointpromo/Images.zip
./UVS_Dataset-main/4pointpromo/Images_small.zip
./UVS_Dataset-main/promo2025/Images.zip
./UVS_Dataset-main/promo2025/Images_small.zip
